In [6]:
##Sets
##creating sets
##empty sets
s=set()
print(s)
print(type(s))

s1={1,2,3}
print(s1)

set()
<class 'set'>
{1, 2, 3}

In [8]:
s4={1,2,3,3,4,4}
print(s4)

{1, 2, 3, 4}

In [10]:
##Updating sets
S={1,23,4}
S.update([5,6,7])
print(S)

{1, 4, 5, 6, 7, 23}

In [11]:
##Deleting the sets
S.discard(5)
print(S)

{1, 4, 6, 7, 23}

In [15]:
##operation on sets
s1={1,2,3,4,5}
s2={4,5,6,7,8}
##Union
s1|s2
## Instresection
s1&s2
##difference
s1-s2
##symmetric difference
s1^s2
##memebership operator
1 not in s1

{1, 2, 3, 6, 7, 8}

In [17]:
#len/sum/min/max/sorted
s={3,1,4,5,6,7}
len(s)
sum(s)
max(s)
min(s)
sorted(s,reverse=True)

[7, 6, 5, 4, 3, 1]

In [29]:
#union update
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [32]:
s1={1,2,3,4}
s2={5,10,7,8}
s1.isdisjoint(s2)

True