In [1]:
##Tuple

t1=()
print(t1)
t2=("Hello",)
print(t2)
print(type(t2))
t3=(1,2,3,4)
print(t3)

()
('Hello',)
<class 'tuple'>
(1, 2, 3, 4)

In [2]:
##Type conversion
t6=tuple("Hello")
print(t6)

('H', 'e', 'l', 'l', 'o')

In [3]:
##Acessing items
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [4]:
##Slicing items
print(t3[::-1])

(4, 3, 2, 1)

In [21]:
print(t3)

(1, 2, 3, 4)

In [6]:
t=(1,2,3,4,5)
t[-1:4:-1]

()

In [7]:
##operation on tuples
## +
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1+t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [10]:
"*"
print(t1*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [11]:
##membership operator
1 in t1

True

In [12]:
for i in t1:
    print(i)

1
2
3
4

In [14]:
##Tuple functions
t=(1,2,3,4)
len(t)
sum(t)

10

In [15]:
sorted(t,reverse=True)

[4, 3, 2, 1]

In [16]:
t=(1,2,3,4,5)
t.count(5)

1

In [18]:
#Tuple unpacking
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [20]:
a,b,*others=(1,2,3,4,5,6,7,8,9,10)
print(a,b)
print(others)

1 2
[3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
# zipping tuples
a=(1,2,3,4)
b=(5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))